<div class="background-primary">
  <h1>User Dashboard</h1>
  <div class="card-product d-flex justify-content-center">
    <div class="user_card">
      <div>
        <h2>My Packages</h2>
          <ul class="list-group">
            <% current_user.packages.each do |package| %>
              <li class="my-packages-orders">
                <%= link_to package_path(package) do %>
                  <%= package.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= link_to 'Add Package', new_package_path, class: 'button' %>
        </div>
    </div>
    <div class="user_card">
      <div>
        <h2>My Orders</h2>
        <ul class="list-group">
          <% current_user.orders.each do |order| %>
            <li class="my-packages-orders">
              <%= order.package.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
   <div class="card-product d-flex justify-content-center">
    <div class="pink-search-bar">
      <div class="d-flex flex-column align-items-start mb-3">
        <h2>search for a package:</h2>
        <%= simple_form_for :search, url: packages_path, method: :get, html: { class: 'form-inline' } do |f| %>
        <%= f.input :countries, collection: @countries, label: false %>
        <%= f.submit "Search", class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
