<div class="background-primary">
  <h2>Forgot your password?</h2>
    <div class="card-product d-flex justify-content-center">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div>
    <%= f.button :submit, "resend password", class: "button"%>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
