<div class="landing-page-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url('<%= image_path 'landing_page_banner.jpg' %>');">
  <div class="text-center">
    <h1>Experience sweets from all around the world</h1>
    <%= render 'shared/search_form', countries: @countries %>
  </div>
</div>
<div class="background-primary p-5 blue-bg">
 <div class="row card-product d-flex justify-content-center">
  <%= link_to '#origin', class: 'text-decoration-none' do %>
  <div class="landing-page-circle">
    <div>
      <h2>Choose a country</h2>
    </div>
  </div>
  <% end %>
  <%= link_to '#results-down', class: 'text-decoration-none' do %>
  <div class="landing-page-circle">
    <div>
      <h2>See the packages</h2>
    </div>
  </div>
  <% end %>
  <%= link_to '#order', class: 'text-decoration-none' do %>
  <div class="landing-page-circle">
    <div>
      <h2>Place your order</h2>
    </div>
  </div>
  <% end %>
</div>
</div>
<div class="card-product py-5 d-flex justify-content-start" style="background-image: linear-gradient(-120deg, rgba(90,88,163,0.2) 0%, rgba(90,88,163,0.5) 50%), url('<%= image_path 'flags.jpg' %>');" id="origin">
  <div class="col col-md-5 landing-page-card pink-bg text-grey">
    <div>
      <h2>Choose a country</h2>
      <p> Use the dropdown list above to choose a country. Click "Search" to then see our packages. We have something for everyone!</p>
    </div>
  </div>
</div>
<div class="card-product d-flex py-5 justify-content-end" style="background-image: linear-gradient(-120deg, rgba(232,187,191,0.5) 0%, rgba(232,187,191,0.1) 80%), url('<%= image_path 'candy.jpg' %>');" id="results-down">
  <div class="col col-md-5 landing-page-card">
   <div>
     <h2>See the packages</h2>
     <p> Look through the packages and choose one you like! Results only show packages from the country you chose.</p>
   </div>
 </div>
</div>
<div class="background-primary py-5 blue-bg d-flex justify-content-around align-items-center flex-wrap" id="order">
  <div class="landing-page-card-bottom">
    <h2>Place your order</h2>
    <p> View the package's details and items and order if you like!</p>
  </div>
  <div class="truck-icon">
    <%= image_tag "delivery.png", alt: "alttext", width: "400px" %>
  </div>
</div>
