<div class="landing-page-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url('<%= image_path 'landing_page_banner.jpg' %>');">
  <div class="row mx-md-0 align-items-center">
    <div>
      <h1>Experience sweets from all around the world</h1>
    </div>
    <%= render 'shared/search_form' %>
  </div>
  </div>
    <div class="background-primary p-5 blue-bg">
     <div class="row card-product d-flex justify-content-center">
      <%= link_to '#origin' do %>
        <div class="my-4 m-md-0 mx-md-2 landing-page-circle">
          <div>
            <h2>1. choose the origin</h2>
          </div>
        </div>
        <% end %>
         <%= link_to '#results' do %>
        <div class="my-4 m-md-0 mx-md-2 landing-page-circle">
          <div>
            <h2>2.<br>see the results</h2>
          </div>
        </div>
        <% end %>
         <%= link_to '#order' do %>
        <div class="my-4 m-md-0 mx-md-2 landing-page-circle">
          <div>
            <h2>3.<br>place your order</h2>
          </div>
        </div>
        <% end %>
      </div>
    </div>
       <div class="row card-product d-flex justify-content-start" style="background-image: linear-gradient(-120deg, rgba(90,88,163,0.2) 0%, rgba(90,88,163,0.5) 50%), url('<%= image_path 'flags.jpg' %>');" id="origin">
          <div class="col col-md-5 landing-page-card pink-bg text-grey">
            <div>
              <h2>Choose the Origin</h2>
                <p> Use the dropdown list on the top of this page. Pick from vast list of package origins. Click on the "search" button to find out how many packages are available. There is a package for everyone!</p>
            </div>
          </div>
        </div>
          <div class="row card-product d-flex justify-content-end" style="background-image: linear-gradient(-120deg, rgba(232,187,191,0.5) 0%, rgba(232,187,191,0.1) 80%), url('<%= image_path 'candy.jpg' %>');" id="results">
            <div class="col col-md-5 landing-page-card">
             <div>
               <h2>See the results</h2>
                  <p> Browse through the packages and choose the package of your liking. Use the package thumbnail to preview what items are available within. Give it a try!</p>
              </div>
            </div>
          </div>
        <div class="row background-primary blue-bg"; id="order">
          <div class="col col-12 col-lg-4 landing-page-card-bottom">
            <div>
              <h2>Place your order</h2>
                <p> View a detailed description of the package and place your order if you like it. Check out all the available items in display. Go for it! </p>
            </div>
          </div>
          <div class="col col-12 col-lg-4 truck-icon">
              <%= image_tag "delivery.png", alt: "alttext", width: "400px" %>
          </div>
        </div>
